@font-face {
    font-family: 'Rubik Mono';
    src: url(fonts/RubikMono.ttf), format(truetype);
}

* {
    margin: 0;
    padding: 0;
    background: #2176ff;
}

.app-layout {
    width: 1303px;
    height: 614px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.app-column-1 {
    width: 434.3px;
    height: 614px;
    float: left;
}

.app-column-2 {
    width: 434.3px;
    height: 614px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.app-column-3 {
    width: 434.3px;
    height: 614px;
    float: right;
}

@media (max-width: 1024px) {
    .app-layout {
        width: 957px;
        height: 531px;
    }
}

@media (max-width: 768px) {
    .app-layout {
        width: 716px;
        height: 525px;
    }
}

@media (max-width: 425px) {
    .app-layout {
        width: 386px;
        height: 530px;
    }
}

@media (max-width: 375px) {
    .app-layout {
        width: 332px;
        height: 540px;
    }
}

@media (max-width: 320px) {
    .app-layout {
        width: 280px;
        height: 530px;
    }
}